@{
    ViewData["Title"] = "Home Page";
}

@section scripts{
    <script src="~/lib/mustache.js/mustache.min.js"></script>
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>

    <script src="~/js/HomeController.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <button id="btnAddNew" class="btn btn-success">Add employee</button>
    </div>

</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Salary</td>
                <td>Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tblData"></tbody>
    </table>

    <div id="pagination" class="pagination">
    </div>


</div>
<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{ID}}</td>
        <td>{{Name}}</td>
        <td><input type="number" class="txtSalary" data-id="{{ID}}" value="{{Salary}}" /></td>
        <td>{{{Status}}}</td>
        <td>
            <button class="btn btn-primary btn-edit" data-id="{{ID}}" id="btnUpdate">Update</button>
            <button class="btn btn-danger btn-delete" data-id="{{ID}}" id="btnDelete">Delete</button>
        </td>
    </tr>
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalAddUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Add/Update Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <form>
                        <div class="form-group">
                            <label for="txtName">Name</label>
                            <input type="text" class="form-control" id="txtName" aria-describedby="name" placeholder="Enter name">
                            <small id="txtname" class="form-text text-muted">We'll never share your name with anyone else.</small>
                            <input type ="hidden" id="hidID" value="0" />
                        </div>
                        <div class="form-group">
                            <label for="txtSalary">Salary</label>
                            <input type="number" class="form-control" id="txtSalary" placeholder="0">
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="ckStatus">
                            <label class="form-check-label" for="ckStatus">Status</label>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnSave" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>